.container {
  background-image: url("https://img.freepik.com/premium-vector/abstract-background-with-technology-circuit-board-futuristic-digital-circle_208588-92.jpg?w=2000");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.addborder1{
    /* Existing styles */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:black;
    width: 350px;
    height: 450px;
    border-radius: 35px;
    border: 3px solid blue;
    text-align: center;
    font-size: 25px;
    margin-left: 130px;
    margin-top: -40px;
    margin-right:-150px;
    box-shadow: black;
    
  }


.addborder2{
    /* Existing styles */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:black;
    width: 350px;
    height: 450px;
    border-radius: 35px;
    border: 3px solid blue;
    text-align: center;
    font-size: 25px;
    margin-left: 320px;
    margin-top: -40px;
    box-shadow: black;
    

  }

  
  
  .section-title {
    /* Existing styles */
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
  }
  
  .studentsection {
    /* Existing styles */
    text-align: center;
  }
  
  .stcredentials {
    /* Existing styles */
    margin-top: 20px;
  }
  
  .registerstudent-button,
  .viewstudent-button,
  .remandupstudent-button,
  .registerteacher-button,
  .remandupteacher-button,
  .viewteacher-button {
    /* Existing styles */
    display: block;
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    background-color:darkblue;
    color:white;
    opacity: 90%;
    
    
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
    width: min-content;
  }

  

 